<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1>About</h1>
  <p>
    The <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication">
          <em>Members Only</em>
        </a> is a <a href="http://rubyonrails.org/">Ruby on Rails</a>
    project inspired by the <a href="https://www.theodinproject.com/courses?ref=homenav">Odin</a>.
    It's an exclusive clubhouse where members can write embarrassing posts about non-members.
    Inside the clubhouse, members can see who the author of a post is but, outside,
    they can only see the story and wonder who wrote it.
  </p>
  <%= image_tag('ovsjah.png', alt: "Troll face") %>
</div>
