<% provide(:title, "Contact") %>
<div class="center jumbotron">
  <h1>Contact</h1>
  <hr>
  <p>
    <a href="mailto:ovsjah@gmail.com">Send email</a> to Ovsjah Schweinefresser.
    Feel free to contact me. I'll be pleased to hear a word of joy from you.)
  </p>
</div>
