<div class="center jumbotron">
  <h1>Members Only are welcomed.)</h1>

  <h2>
    <em>It's a home to all members and a cursed pit full of darkness to all strangers!!!</em>
  </h2>
  <%= link_to image_tag("fly.JPG", size: "486x586", alt: "The Fly"), "https://en.wikipedia.org/wiki/David_Cronenberg" %>
  <hr>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
