<footer class="footer">
  <small>
    Inspired by the <a href="https://www.theodinproject.com/dashboard"><b>Odin</b></a>,
    created by <a href="https://www.linkedin.com/in/yevhen-ovsyannikov/"><b>Ovsjah Schweinefresser</b></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
